@font-face {
  font-family: 'yofont';
  src: url('/static/iconfont/iconfont.woff') format('woff'),
  url('/static/iconfont/iconfont.ttf') format('truetype')
}
@font-face {
  font-family: 'yofont';
  src: url('/static/iconfont/iconfont-1.woff') format('woff'),
  url('/static/iconfont/iconfont-1.ttf') format('truetype')
}
@font-face {
  font-family: 'yofont';
  src: url('/static/iconfont/iconfont-2.woff') format('woff'),
  url('/static/iconfont/iconfont-2.ttf') format('truetype')
}
@font-face {
  font-family: 'yofont';
  src: url('/static/iconfont/iconfont-3.woff') format('woff'),
  url('/static/iconfont/iconfont-3.ttf') format('truetype')
}
@font-face {
  font-family: 'yofont';
  src: url('/static/iconfont/iconfont-4.woff') format('woff'),
  url('/static/iconfont/iconfont-4.ttf') format('truetype')
}


@font-face {
  font-family: 'yofont';
  src: url('/static/iconfont/iconfont-5.woff') format('woff'),
  url('/static/iconfont/iconfont-5.ttf') format('truetype')
}
@font-face {
  font-family: 'yofont';
  src: url('/static/iconfont/iconfont-love.woff') format('woff'),
  url('/static/iconfont/iconfont-love.ttf') format('truetype')
}
